---
import { linksSocial } from '../config'
---

<ul>
	{
		linksSocial.map(({ href, title }) => (
			<li>
				<a href={href}>{title}</a>
			</li>
		))
	}
</ul>

<style lang="less">
	ul {
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	li {
		margin-bottom: 5px;
	}

	a {
		color: var(--color-grey);
		&:hover {
			text-decoration: underline;
		}
	}
</style>
